.page404 {
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page404 h1 {
  color: white;
  margin: 30px;
  font-size: 60px;
}

.page404 h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}